.checkout {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 20px;
    padding-left: 100px;
    padding-right: 50px;
    background-color: rgb(234, 237, 237);
    height: max-content;
}

.checkout__left{
    background-color: white;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.checkout__right{
    margin-right: 30px;
}

.checkout__title{
    margin-right: 15px;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}

.checkout-subtotal{
    display: block;
    padding: 10px 20px;
    margin-bottom: 10px;
    margin-top: 2px;
    padding-top: 2px;
    align-self: flex-end;
}